body {
    background-color: rgb(240, 167, 9);
}



img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

h1 {
    color: red;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;

}



#available {
    float: left;
    padding-left: 20%;
    
    
}

#devoured {
    padding-left: 15%;
    color: gray;
    
}



li {
    font-size: 20px;
    list-style-type: none;
    
}

#add {
    clear: both;
    margin-top: 8%;
   
    text-align: center;
}